{# ПЕЧАТЬ #}
<div class="{{ app.request.headers.get('X-Requested-With') is not null ? 'd-none' }} d-print-block p-0 w-100">
    {% if stickers %}
        {% for sticker in stickers %}

            <img src="data:image/jpeg;base64, {{ sticker }}" alt="sticker" style="max-width:300px;"/>

            {% if loop.last != true %}
                <div style="page-break-after: always !important;"></div>
            {% endif %}

        {% endfor %}
    {% else %}
        Стикеров для печати не найдено. Повторите попытку через 1 минуту ...
    {% endif %}

</div>