<main class="main d-print-none container">

    <div class="container mt-3">
        {{ include(_self|replace({ "content.html.twig": "breadcrumb.html.twig" })) }}
    </div>

    <div class="container d-flex justify-content-center align-items-center gap-4 mt-3">

        <img data-src='/assets/img/edit.webp' class="lazy" alt='QR Code' width="350"/>

        <div class="w-100">
            <div class="modal d-block position-relative">
                {{ include(_self|replace({ "content.html.twig": "_form.html.twig" })) }}
            </div>
        </div>
    </div>

</main>
