# bash

# systemctl daemon-reload

# systemctl enable baks-orders-order@{1..10}.service
# systemctl disable baks-orders-order@{1..10}.service

# systemctl start baks-orders-order@{1..10}.service
# systemctl restart baks-orders-order@{1..10}.service
# systemctl stop baks-orders-order@{1..10}.service

[Unit]
Description=nginx-unit
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
ExecStart=php /.....PATH_TO_PROJECT..../bin/console messenger:consume orders-order orders-order-low --memory-limit=128m --time-limit=3600 --limit=1000
Restart=always

User=unit
Group=unit

[Install]
WantedBy=default.target
