# bash

# systemctl daemon-reload

# systemctl enable baks-nginx-unit@1.service
# systemctl disable baks-nginx-unit@1.service

# systemctl start baks-nginx-unit@1.service
# systemctl restart baks-nginx-unit@1.service
# systemctl stop baks-nginx-unit@1.service

[Unit]
Description=Symfony messenger nginx-unit %i
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
ExecStart=php /.....PATH_TO_PROJECT..../bin/console messenger:consume nginx-unit --memory-limit=128m --time-limit=3600 --limit=100
Restart=always

User=unit
Group=unit

[Install]
WantedBy=default.target
